@{
    ViewData["Title"] = "Home Page";
}

    <form method="post"
          asp-action="Index"
          asp-controller="Home"
          role="form">
        <div class="form-group">
            <label label-for="message">Message: </label>
            <input id="message" name="message" class="form-control" />
        </div>
        <button class="btn btn-primary" type="submit">Send</button>
    </form>